{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}
{% verbatim %}
<div class="container-fluid" id="trainingContainer" v-cloak>
    <div class="row full-height">
        <!-- Story list -->
        <div class="col-md-2 full-height primary-bg">
            <div class="content">
                <section-header title="Stories" btnlabel="Add story" :btnaction="showAddStoryModal"></section-header>
                <add-story :start.sync="show_add_story_modal" :stories.sync="stories" :story.sync="story"></add-story>
                <story-list :stories="stories" :story.sync="story"></story-list>
            </div>
        </div>

        <!-- Intents list -->
        <div class="col-md-2 full-height action-bg" id="intentsList" v-show="story">
            <div class="content">
                <section-header title="Intents" btnlabel="Add intent" :btnaction="showAddIntentModal"></section-header>
                <add-intent :start.sync="show_add_intent_modal" :intents.sync="intents" :intent.sync="intent" :story="story"></add-intent>
                <intents-list :story="story" :intents.sync="intents" :intent.sync="intent"></intents-list>
            </div>
        </div>

        <!-- User says -->
        <div class="col-md-4 full-height neutral-bg" v-show="story && intent">
            <div class="content">
                <section-header title="User says examples" btnlabel="Add example" :btnaction="showAddExampleModal"></section-header>
                <add-story :start.sync="show_add_example_modal"></add-story>
                <user-says :intent="intent"></user-says>
            </div>
        </div>

        <!-- Actions -->
        <div class="col-md-4 full-height" v-show="story && intent">
            <div class="content">
                <section-header title="Bot responses and actions" btnlabel="Add action" :btnaction="showAddActionModal"></section-header>
                <add-story :start.sync="show_add_action_modal"></add-story>
                <div class="accordion-list">
                    <actions-list :intent="intent"></actions-list>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.rawgit.com/wffranco/vue-strap/7becab2b/dist/vue-strap.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
<!-- Add app scripts -->
<script src="{% static 'js/rasacore/utilities.js' %}"></script>
<script src="{% static 'js/rasacore/intent-actions.js' %}"></script>
<script src="{% static 'js/rasacore/user-says.js' %}"></script>
<script src="{% static 'js/rasacore/intents.js' %}"></script>
<script src="{% static 'js/rasacore/stories.js' %}"></script>
<script src="{% static 'js/rasacore/training.js' %}"></script>
{% endblock %}