{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}
{% verbatim %}
<div class="container-fluid" id="trainingContainer" v-cloak>
    <div class="row full-height">
        <!-- Story list -->
        <div class="col-md-2 full-height primary-bg">
            <div class="content">
                <h4>Stories
                    <span class="action">
                        <button class="btn btn-primary btn-xs">
                            <i class="fa fa-plus-circle"></i> Add story
                        </button>
                    </span>
                </h4>
                <story-list :stories="stories" :story.sync="story"></story-list>
            </div>
        </div>

        <!-- Intents list -->
        <div class="col-md-2 full-height action-bg" id="intentsList" v-show="story">
            <div class="content">
                <h4>Intents
                    <span class="action">
                        <button class="btn btn-primary btn-xs">
                            <i class="fa fa-plus-circle"></i> Add intent
                        </button>
                    </span>
                </h4>
                <intents-list :story="story" :intent.sync="intent"></intents-list>
            </div>
        </div>

        <!-- User says -->
        <div class="col-md-4 full-height neutral-bg" v-show="story && intent">
            <div class="content">
                <h4>User says examples
                    <span class="action">
                        <button class="btn btn-primary btn-xs">
                            <i class="fa fa-plus-circle"></i> Add example
                        </button>
                    </span>
                </h4>

                <user-says :intent="intent"></user-says>
            </div>
        </div>

        <!-- Actions -->
        <div class="col-md-4 full-height" v-show="story && intent">
            <div class="content">
                <h4>Bot responses and actions
                    <span class="action">
                        <button class="btn btn-primary btn-xs">
                            <i class="fa fa-plus-circle"></i> Add action
                        </button>
                    </span>
                </h4>
                <div class="accordion-list">
                    <actions-list :intent="intent"></actions-list>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
{% endblock %}

{% block extra_scripts %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
<!-- Add app scripts -->
<script src="{% static 'js/rasacore/intent-actions.js' %}"></script>
<script src="{% static 'js/rasacore/user-says.js' %}"></script>
<script src="{% static 'js/rasacore/intents.js' %}"></script>
<script src="{% static 'js/rasacore/stories.js' %}"></script>
<script src="{% static 'js/rasacore/training.js' %}"></script>
{% endblock %}