#trainingContainer {
    height: 100%;
    .full-height {
        height: 100%;
    }

    // List items horizontally
    .content {
        padding: 21px 0;
        .component-list {
            width: 100%;
            padding: 0px !important;
            li {
                padding: 11px 0;
                &:hover, &:focus {
                    .primary-bg;
                }
            }
        }
    }
    
}